<div>
    <div class="title-center">
        <h1>Alunos</h1>
    </div>
    <div class="row">
        <button *ngIf="!form" type="button" class="col-md-2 btn btn-primary botao-novo" (click)="newAluno()">
            <span class="glyphicon glyphicon-plus"></span> Novo
        </button>
    </div>
    <app-aluno-table *ngIf="!form" (onEditAluno)="onEditAluno($event)" (onExcluirAluno)="onExcluirAluno($event)" [alunos]="listaAlunos"></app-aluno-table>
    <app-aluno-form *ngIf="form" [aluno]="aluno" (onCancelar)="onCancelar($event)"></app-aluno-form>

</div>