.largura-full {
    width: 100%;
}

.black-footer {
    color: white;
    background-color: #212529;
}

.bottom-position {
    margin-bottom: 0;
    height: 50px;
}

.text-center-height{
    margin-top: 50%;
}