.largura-full {
    width: 100%;
}

.black-footer {
    color: white;
    background-color: #343a40!important;
}

.bottom-position {
    margin-bottom: 0;
    height: 80px;
}

.center {
    margin-top: 10px;
}