<!-- <form [formGroup]="alunoForm"> -->
<form >
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <label for="exampleInputName">Nome</label>
        <input class="form-control" id="nomeAluno" name="nome" type="text" aria-describedby="nameHelp" [(ngModel)]="aluno.nome" placeholder="Nome do Aluno">
      </div>
      <div class="col-md-6">
        <label for="exampleInputEmail1">CPF</label>
        <input class="form-control" id="alunoCPF" type="text" name="cpf"  [(ngModel)]="aluno.cpf" placeholder="CPF do Aluno ou Responsavel">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <label for="exampleInputLastName">Endereço</label>
        <input class="form-control" id="alunoEndereco" type="text" name="endereco" [(ngModel)]="aluno.endereco" placeholder="Endereço do aluno">
      </div>
      <div class="col-md-6">
        <label for="exampleInputEmail1">Bairro</label>
        <input class="form-control" id="alunoBairro" type="email" name="bairro" [(ngModel)]="aluno.bairro"  placeholder="Bairro do Aluno">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <label for="exampleInputEmail1">Telefone</label>
        <input class="form-control" id="alunoTel" type="number" name="telefone" [(ngModel)]="aluno.tel"  placeholder="EX: 99992222">
      </div>
      <div class="col-md-6">
        <label for="exampleInputEmail1">Celular</label>
        <input class="form-control" id="alunoTel" type="number" name="celular" [(ngModel)]="aluno.cel" placeholder="EX: 955552222">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="sel1">Curso</label>
    <select class="form-control" id="sel1" name="curso">
      <option *ngFor="let curso of cursos">{{curso?.modalidade?.nome}}</option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <label for="exampleInputEmail1">Data Entrada</label>
        <input class="form-control" id="alunoDataEntrada" type="date" name="entrada" [(ngModel)]="aluno.dataEnt" placeholder="data entrada">
      </div>
      <div class="col-md-6">
        <label for="exampleInputEmail1">Data Vencimento</label>
        <input class="form-control" id="alunoDataVencimento" type="date" name="vencimento" [(ngModel)]="aluno.dataVenc" placeholder="data vencimento">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</form>