<div >
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input class="form-control" id="exampleInputEmail1" formControlName="id" [(ngModel)]="login.id" type="text" aria-describedby="emailHelp" placeholder="entre com o Usuario">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input class="form-control" id="exampleInputPassword1" formControlName="password" [(ngModel)]="login.password" type="password" placeholder="Senha">
          </div>
          <button class="btn btn-primary btn-block" (click)="logar()" type="button">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>